RewriteEngine On

RewriteRule ^$                                                  index.html
RewriteRule ^index.html$                                        controler/accueil.php [L]
RewriteRule ^index                                              controler/accueil.php [L]
RewriteRule ^accueil                                            controler/accueil.php [L]
RewriteRule ^chapitre                                           controler/chapitre.php [L]
RewriteRule ^articles                                           controler/articles.php [L]
RewriteRule ^admin                                              controler/admin.php [L]
RewriteRule ^connexion                                          controler/connexion.php [L]
RewriteRule ^addPost                                            controler/addPost.php [L]
RewriteRule ^managePosts                                        controler/managePosts.php [L]
RewriteRule ^manageComments                                     controler/manageComments.php [L]
